@import url("./global.css");

body {
    background-color: var(--color-black);
    /* Altera a cor de fundo */
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header-item {
    color: var(--color-grey);
    /* Altera a cor de texto */
    text-decoration: none;
    font-family: var(--font-title);
    transition: 0.3s;
}

.nav-header-item:hover{
    color: #454545;        
}

.active {
    color: var(--color-pink);
    /* Altera a cor de texto*/
    font-weight: bold;
}

.btn-header {
    background-color: var(--color-pink);
    padding: 8px 24px;
    border-radius: 10px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-title);
    transition: 0.3s;
}

.btn-header:hover{
    background-color: #a10073;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .section-indicator {
    align-self: self-start;
}

.section-indicator {
    display: flex;
    gap: 8px;
    padding: 10px 12px;
    color: var(--color-pink);
    border: 1px solid var(--color-d-gray);
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-body4);
}

h1 {
    color: var(--color-white);
    width: 549px;
    font-size: var(--font-h1);
    font-family: var(--font-title);
    text-transform: capitalize;
}

h1 span {
    color: var(--color-pink);
}

main p {
    width: 546px;
}

.container-btn-main {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
    padding: 14px 24px;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: var(--font-body2);
    transition: 0.3s;
}

.btn-primary:hover{
    background-color: #a10073;
}

.btn-secondary {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-family: var(--font-body);
    color: var(--color-white);
    border: 1.5px solid var(--color-d-gray);
    border-radius: 10px;
    padding: 14px 24px;
    font-size: var(--font-body3);
    transition: 0.5s;
}

.btn-secondary:hover{
    background-color: var(--color-d-gray);    
}

.section-statistics {
    display: flex;
    justify-content: center;
    gap: 56px;
    background-color: var(--color-l-black);
    padding: 40px 0px;
}

.statistics-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.statistics-number {
    color: var(--color-pink);
    font-size: var(--font-h2);
    font-family: var(--font-title);
}

.section-destiny {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px 0px;
}

.content-destiny {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content-destiny p {
    width: 572px;
}

.card-destiny {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 364px;
    background-color: var(--color-l-black);
    border-radius: 20px;
}

.card-destiny-informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.card-destiny{
    transition: 0.3s;
}

.card-destiny:hover{
    transform: translate(0px, -10px);
    box-shadow: 0px 0px 6px 0px var(--color-pink);
}

.card-destiny-informations h3 {
    color: var(--color-white);
    font-family: var(--font-body);
    font-size: var(--font-h3);
    text-align: center;
}

.destiny-reviews {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destiny-reviews-stars {
    display: flex;
    gap: 5px;
}

.destiny-reviews-stars:hover{
    transform: scale(1.1);
}

.destiny-reviews p {
    font-size: var(--font-body4);
}

.destiny-details {
    display: flex;
    justify-content: space-between;
}

.destiny-details-duration {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destiny-details-duration p {
    font-size: var(--font-body4);
}

.destiny-card-price {
    font-family: var(--font-title);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-h4);
}

.btn-book-now {
    background-color: var(--color-pink);
    padding: 10px 0px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: bold;
    font-size: var(--font-body3);
}

.cards-destiny-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-highlights {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-l-black);
    padding: 60px 0px;
}

.container-card-highlights {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 363px;
    background-color: var(--color-black);
    padding: 80px 35px;
    text-align: center;
    border-radius: 20px;
}

.card-highlights h3{
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: var(--font-h4);
}