@import url("./global.css");

body {
    background-color: var(--color-black);
    /* Altera a cor de fundo */
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header-item {
    color: var(--color-grey);
    /* Altera a cor de texto */
    text-decoration: none;
    font-family: var(--font-title);
    transition: 0.3s;
}

.nav-header-item:hover{
    color: #454545;        
}

.active {
    color: var(--color-pink);
    /* Altera a cor de texto*/
    font-weight: bold;
}

.btn-header {
    background-color: var(--color-pink);
    padding: 8px 24px;
    border-radius: 10px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-title);
    transition: 0.3s;
}

.btn-header:hover{
    background-color: #a10073;
}